[Unit]
Description=Spring petclinic application
After=network.target

[Service]

User=spc
ExecStart=/usr/bin/java -jar /usr/share/spc/spring-petclinic.jar SuccessExitStatus=143

[Install]
WantedBy=multi-user.target